/* GENERAL*/
body {
  background-color: darkred;
}
.container {
  margin-top: 1.2em;
}

/* AdController.php */
.titreAd {
  background-size: cover;
  background-position: center center;
  padding: 1em;
  margin-left: 0;
}
.titreAd .container {
  margin-top: 0;
}
.titreAd h1,
.titreAd p {
  color: #fff;
}
.overlay::before {
  width: 110%;
  height: 36.3%;
  margin-top: 3.5em;
  margin-left: -2em;
  content: "";
  background: url("../css/img/noise.png") repeat 0 0 rgba(0, 0, 0, 0.5);
  top: 0;
  position: absolute;
}

/* templates/inc/footer.html.twig */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f3efef;
  z-index: 10;
  
}


/* templates/user/index.html.twig*/
img.avatar{width: 128px;height: 128px;border-radius: 50%;}
img.avatar-xs{max-width: 16px;max-height: 16px;}
img.avatar-medium{max-width: 64px;max-height: 64px;}
img.avatar-small{max-width: 32px;max-height: 32px;}
img.avatar-big{max-width: 96px;max-height: 96px;}

/*templates/inc/header.html.twig*/
#accountDropdownlink{margin-left: 3em;}


/*GENERAL*/

a.btn,h1,p {
    z-index: 10;
    position: relative;
}

.hrefunderline a{text-decoration: none;}


/*templates/booking/book.html.twig*/
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{color:indianred!important ;text-decoration: line-through;}



/* templates/ad/show.html */
.fa-star:before{color: #F0A506;}



/*templates/admin/account/login.html.twig*/



