{% extends 'base.html.twig' %}

{% block title %}Hello AdController!
{% endblock %}

{% block body %}

	<main class="container">
		<h1 class="mt-5 mb-3">{{ controller_name }}</h1>
		<div class="row">
			{# Faire une boucle pour récuper nos éléments dans la BD, twig est capable d'aller chercher les champs même s'ils sont en mode privé #}
			{% for ad in ads %}
				
				{# Affichage de l'annonce de l'User avec le partial #}
			  {% include 'ad/_ad.html.twig' %}
				
			{% endfor %}
		</div>
	</main>

{% endblock %}
